.error-text {
    position: fixed;
    width: 100% !important;
    margin-left: 185px;
    margin-top: 85px;
    color: red;
}
.nav ul li.active {
    background: unset;
}
.nav ul li a.active {
    background: #00afab;
    color: white;
}
.loading-page {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background: #00afab;
    border-radius: 100%;
    transform: scale(0);
    transition: all 0.5s ease;
    z-index: 1000;
}
.radio2 {
    margin-bottom: 0 !important;
}
.gender2 {
    width: 100px;
    height: 25px;
    padding-left: 10px;
}
